h2 {
    color: black;
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
    letter-spacing: .75px;
    text-transform: uppercase;
}

p {
    color: #404040;
    font-family: 'Cedarville Cursive', sans-serif;
    font-size: 23px;
    padding: 2%;
    line-height: 23px;
}

a {
    color: #ffc82e;
    text-decoration: none;
}

a:hover {
    color: #468499;
    filter:alpha(opacity=40);
}

.title {
    color: black;
    font-family: 'Londrina Sketch', sans-serif;
    font-size: 45px;
    color:#468499;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
}

.about {
    font-family: 'Cedarville Cursive', sans-serif;
    font-size: 20px;
    list-style: none;
    width: 100%;
}

.description {
    font-family: 'Cedarville Cursive', 'sans-serif';
    font-size: 14px;
    padding-left: 20px;
    padding-right: 350px;
    line-height: 20px;
    padding-bottom: 20px;
    color: #404040;
}

.main {
    font-family: 'Cedarville Cursive', 'Arvo';
    font-size: 20px;
    list-style: none;
    width: 100%;
}

.nav-li {
    float: right;
    margin-right: 20px;
    list-style-type: none;
}

.svg-container {
    display: inline-block;
    width: 100%;
    height: auto;
    padding-top: 30px;
    vertical-align: middle;
    overflow: hidden;
}

.modal{
    position: absolute;
    z-index: 1000;
}


/*hover styles*/
#saguaroLines {
    display: none;
}

#haleakalaLines {
    display: none;
}

#evergladesLines {
    display: none;
}
 
/*Modal/div style*/
#box{
    z-index: 1000;
    width: 800px;
    height: 600px;
    left: calc(50% - 400px);
    top: calc(50% - 300px);
    overflow: scroll;
    position: absolute;
    background-color: #f0f8ff;
    font-family: 'Arvo', sans-serif;
    font-size: 16px;
    font-style: italic;
    border-color: #dbdc01;
    padding: 25px;
    
    
    
}