#navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    min-height:  height: 8%;
    overflow: hidden;
    background-color: white;
}

h2 {
    color: black;
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
    letter-spacing: .75px;
    text-transform: uppercase;
}

.maintext {
    font-family: 'Cedarville Cursive', 'sans-serif';
    font-size: 1.5vw;
    padding-left: 20px;;
    padding-right: 20px;
    line-height: 20px;
    color: #404040;
    margin-top: 50px;
    display: inline-block;
    position: fixed;
}

a {
    color: #ffc82e;
    text-decoration: none;
}

a:hover {
    color: #ff00ff;
    opacity: .5;
}

#about-text {
    color: #404040;
    font-family: 'Cedarville Cursive', sans-serif;
    font-size: 22px;
    padding: 2%;
    line-height: 25px;
}

#byline {
    color: #ff00ff;
    opacity: .5;
    font-size: 15px;
    font-family: 'Cedarville Cursive', sans-serif;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 12px;
}

#modalq {
    color: #404040;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    line-height: 20px;
}

.title {
    font-family: 'Londrina Sketch', sans-serif;
    font-size: 4.5vw;
    color: #468499;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    text-overflow: ellipsis;
}

.about {
    font-family: 'Cedarville Cursive', sans-serif;
    font-size: 2vw;
    list-style: none;
    width: 100%;
    list-style-type: none;
}

.main {
    font-family: 'Cedarville Cursive', 'Arvo';
    font-size: 2vw;
    list-style: none;
    width: 100%;
    list-style-type: none;
}

.nav-li {
    float: right;
    margin-right: 20px;
    list-style-type: none;
}

.svg-container {
    display: inline-block;
    width: 100%;
    height: auto;
    margin-top: 130px;
    overflow: hidden; 
}

/*hover styles*/

#saguaroLines {
    display: none;
}

#haleakalaLines {
    display: none;
}

#evergladesLines {
    display: none;
}

#sanjLines {
    display: none;
}

#cascadesLines {
    display: none;
}

#wsLines {
    display: none;
}

#smokyLines {
    display: none;
}

#zionLines {
    display: none;
}

#yosemiteLines {
    display: none;
}

#antelopeLines {
    display: none;
}


/*Modal styles and effects*/

#box {
    z-index: 1000;
    width: 600px;
    height: 500px;
    left: calc(50% - 300px);
    top: calc(50% - 275px);
    overflow: hidden;
    position: absolute;
    background-color: #fffff0;
    font-family: 'Cedarville Cursive', sans-serif;
    font color: #404040;
    font-size: 20px;
    border: 5px #dbdc01;
    border-style: solid;
    border-radius: 5px;
    padding: 25px;
    display: none;
}

#overlay {
    background: #088da5;
    opacity: .25;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}

a.boxclose {
    float: right;
    margin-top: -30px;
    margin-right: -30px;
    cursor: pointer;
    color: #ff00ff;
    border-radius: 30px;
    opacity: .5;
    font-size: 30px;
    display: block;
    padding-right: 18px;
    padding-top: 8px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    z-index: 1001;
}

.boxclose:before {
    content: "x";
}