/*

h2 {
    color: black;
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
    letter-spacing: .75px;
    text-transform: uppercase;
}

p {
    color: black;
    font-family: 'Arvo', sans-serif;
    font-size: 15px;
}*/

a {
    color: #6dc066;
    text-decoration: none;
}

.title {
    color: black;
    font-family: 'Londrina Outline', sans-serif;
    font-size: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 2%;
}

@media (max-width:959px) {}

@media (min-width:479px) {}

.about {
    color: #6dc066;
    font-family: 'Arvo', sans-serif;
    font-size: 12px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
}

.back {
    color: #6dc066;
    font-family: 'Arvo', sans-serif;
    font-size: 12px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
}

.nav {
    list-style: none;
    width: 100px;
    height: 70px;
    float: right;
}

.nav li {
    float: right;
    margin-right: 4%;
    line-height: 50px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 10%;
    padding-top: 2%;
    vertical-align: middle;
    overflow: hidden;
}

div#test {
    display: none;
    position: absolute;
    left: 20%;
    top: 13%;
    width: 80%;
    height: 600px;
    background-color: bisque;
    border-radius: 10px;
    z-index: 100;
}